


img {
    border-radius: 25px;
    height:256px;
    float: right;
}

.bar-item{
    padding:8px 16px;
    float:left;
    width:100%;
    text-align: center;
    border:black;
    display:block;
    outline:0
  }

.bar-item:hover {
  background-color: rgb(168, 168, 168);
}

.button{
    border:none;
    border-radius: 25px;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

.button:hover {
  background-color: #555;
}

.sidebar{
    height:100%;
    width: 200px;
    top:0%;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover, input[type=reset]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 25px;
  background-color: #f2f2f2;
  padding: 20px;
  z-index: 1;
  position:fixed;
  top: 20%;
  left: 25%;
  height: 75%;
  overflow: scroll;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

table#courses {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #courses td, #courses th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #courses tr:nth-child(even){background-color: #f2f2f2;}
  
  #courses tr:hover {background-color: #ddd;}
  
  #courses th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(0, 255, 0);
    color: white;
  }

  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }