.nav {
    border-radius: 5px;
    display:flex;
    align-items:center;
    position: sticky;
    top: 0px;
    z-index: 1;
    height: 100px;
    max-width: 100%;
}

.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    margin-left: 20px;
    color:#8b3800;
    flex: auto;
}

.logo{
    height: 40px;
    max-width:100%;
    margin: auto;
    flex:0;
}

.links-container{
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #8b3800;
    border-bottom: 1px solid #8b3800;
}

.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #8b3800;
    opacity: 0.5;
    transition: .5s;
}

.link:hover{
    opacity: 1;
}

.form{
    max-width: 80%;
    margin: auto;
    border-style: groove;
    border-radius: 5px;
    border-color: #8b3800;
}
.form form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

input{
    margin: 10px;
}