
.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content:flex-start;
    position: sticky;
}

.logo{
    max-width:100%;
    flex: auto;
}

.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    margin-left: 20px;
    color:#8b3800;
    flex: auto;
}
.links-container{
    width: 98%;
    display: flex;
    padding: 10px;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #8b3800;
    border-bottom: 1px solid #8b3800;
}

.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #8b3800;
    opacity: 0.5;
    transition: .5s;
}

.link:hover{
    opacity: 1;
}

.hero-section{
    width: 100%;
    height: calc(100vh - 120px);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .sub-heading{
    border-style: double;
    border-width: 10px;
    margin-top: 10px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}

#home {
    background-image: url('./img/header-home.png');
}
#academics {
    background-image: url('./img/header-academics.png');
}
#arts {
    background-image: url('./img/header-arts.png');
}
#arts .sub-heading{
    -webkit-text-stroke: 1.5px black;
    font-size: 50px;
}
#athletics {
    background-image: url('./img/header-athletics.png');
}
#university {
    background-image: url('./img/header-university.png');
}

.content-container {
    display: flex;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 200px 200px 1fr;
}

.left-sidebar{
    grid-column: 1;
}

.left-sidebar .card{
    border-radius: 100%;
    text-align: center;
}

.main{
    grid-column: 2;
    margin: 10px;
}

.right-sidebar{
    grid-column: 3;
}

.right-sidebar .card{
    border-radius: 5px;
    text-align: center;
}

.card-container{
    display: grid;
    grid-gap: 10px;
    margin: 10px;
}

.main-card{
    border-style: groove;
    margin-top: 10px;
    padding: 10px;
}

.main-card #title{
    text-transform: capitalize;
    text-decoration:underline;
    font-weight: 200;
    font-size: larger;
}

.card{
    border-style: groove;
    border-color: #8b3800;
    padding: 5px;
}

.card:hover{
    background-color: lightgray;
}

.card img{
    border-radius: 100%;
    width: 100px;
}

.card p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*footer*/
footer{
    border-radius: 5px;
    position: relative;
    padding: 40px 10vw;
    padding-bottom: 40px;
    background-color:#8b3800;
}

.footer-title{
    margin-top: 30px;
}

.footer-title, .info{
    color: rgba(0, 0, 0, 0.75);
    margin: 20px 0;
    text-transform: capitalize;
}

@media screen and (max-width: 800px) {
    .content-container{
        flex-direction: column;
    }

    .card{
        grid-row: 1;
    }
}